* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
    font-family: "Poppins", sans-serif;  
}  
body {  
    overflow: hidden;  
}  
section {  
    display: flex;  
    min-height: 100vh;  
    align-items: center;  
    justify-content: center;  
    background: linear-gradient(to right bottom,#ff00cc,#aa0d05);  
}  
@keyframes animate {  
    0%,  
    100% {  
         transform: translateY(-40px);  
    }  
    50% {  
         transform: translateY(40px);  
    }  
}  
.container {  
    width: 400px;  
    display: flex;  
    min-height: 400px;  
    position: relative;  
    border-radius: 10px;  
    align-items: center;  
    justify-content: center;  
    backdrop-filter: blur(5px);  
    background: rgba(255, 255, 255, 0.1);  
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);  
    border: 1px solid rgba(255, 255, 255, 0.5);  
    border-right: 1px solid rgba(255, 255, 255, 0.2);  
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);  
}  
.form {  
    width: 100%;  
    height: 100%;  
    padding: 40px;  
    position: relative;  
}  
.form h2 {  
    color: #fff;  
    font-size: 24px;  
    font-weight: 600;  
    position: relative;  
    letter-spacing: 1px;  
    margin-bottom: 40px;  
}  
.form h2::before {  
    left: 0;  
    width: 80px;  
    height: 4px;  
    content: "";  
    bottom: -10px;  
    background: #fff;  
    position: absolute;  
}  
.form .input__box {  
    width: 100%;  
    margin-top: 20px;  
}  
.form .input__box input {  
    width: 100%;  
    color: #fff;  
    border: none;  
    outline: none;  
    font-size: 16px;  
    padding: 10px 20px;  
    letter-spacing: 1px;  
    border-radius: 35px;  
    background: rgba(255, 255, 255, 0.2);  
    border: 1px solid rgba(255, 255, 255, 0.5);  
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);  
    border-right: 1px solid rgba(255, 255, 255, 0.2);  
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);  
}  
.form::placeholder {  
    color: #fff;  
}  
.form .input__box input[type="submit"] {  
    color: #666;  
    cursor: pointer;  
    background: #fff;  
    max-width: 100px;  
    font-weight: 600;  
    margin-bottom: 20px;  
}  
.forget {  
    color: #fff;  
    margin-top: 5px;  
}  
.forget a {  
    color: #fff;  
    font-weight: 600;  
    text-decoration: none;  
}  