@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
  --primary-clr: #6c00f9;
  --white: #fff;
  --text-clr: #464646;
  --tabs-list-bg-clr: #dfc8fd;
  --btn-hvr: #4e03b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

body{
  background: var(--primary-clr);
  font-size: 12px;
  color: var(--text-clr);
  background: linear-gradient(to bottom right,#00c0ff,#4218b8);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Navbar */

.topnav {
    overflow: hidden;
    background-color: #00008b;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: gray;
  }
  
  .topnav .icon {
    display: none;
  }
  
  #topnav-right{
    float: right;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.flex_align_justify{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  min-height: 100vh;
  padding: 0 20px;
}

.tc_wrap{
  width: 700px;
  max-width: 100%;
  height: 450px;
  background: var(--white);
  display: flex;
  border-radius: 3px;
  overflow: hidden;
}

.tc_wrap .tabs_list{
  width: 200px;
  background: var(--tabs-list-bg-clr);
  height: 100%;
}

.tc_wrap .tabs_content{
  width: calc(100% - 200px);
  padding: 0 10px 0 20px;
  height: 100%;
}

.tc_wrap .tabs_content .tab_head,
.tc_wrap .tabs_content .tab_foot{
  color: var(--primary-clr);
  padding: 25px 0;
  height: 70px;
}

.tc_wrap .tabs_content .tab_head{
  text-align: center;
}

.tc_wrap .tabs_content .tab_body{
  height: calc(100% - 140px);
  overflow: auto;
}

.tc_wrap .tabs_list ul{
  padding: 70px 20px;
  text-align: right;
}

.tc_wrap .tabs_list ul li{
  padding: 10px 0;
  position: relative;
  margin-bottom: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.5s ease;
}

.tc_wrap .tabs_list ul li:before{
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 2px;
  height: 100%;
  background: var(--primary-clr);
  opacity: 0;
  transition: all 0.5s ease;
}

.tc_wrap .tabs_list ul li.active,
.tc_wrap .tabs_list ul li:hover{
  color: var(--primary-clr);
}

.tc_wrap .tabs_list ul li.active:before{
  opacity: 1;
}

.tc_wrap .tabs_content .tab_body .tab_item h3{
  padding-top: 10px;
  margin-bottom: 10px;
  color: var(--primary-clr);
}

.tc_wrap .tabs_content .tab_body .tab_item p{
  margin-bottom: 20px;
}

.tc_wrap .tabs_content .tab_body .tab_item.active{
  display: block !important;
}

.tc_wrap .tabs_content .tab_foot button{
    width: 125px;
    padding: 5px 10px; 
    background: transparent;
    border: 1px solid;
    border-radius: 25px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tc_wrap .tabs_content .tab_foot button.decline{
  margin-right: 15px;
  border-color: var(--tabs-list-bg-clr);
  color: var(--tabs-list-bg-clr);
}

.tc_wrap .tabs_content .tab_foot button.agree{
   background: var(--primary-clr);
  border-color: var(--primary-clr);
  color: var(--white);
}

.tc_wrap .tabs_content .tab_foot button.decline:hover{
  background: var(--tabs-list-bg-clr);
  color: var(--white);
}

.tc_wrap .tabs_content .tab_foot button.agree:hover{
  background: var(--btn-hvr);
  border-color: var(--btn-hvr);
}

/* Footer */

footer{
    font-family: "Poppins" , sans-serif;
    background: hsl(247, 79%, 20%);
    width: 100%;
    margin-top: auto;
  }
  footer::before{
    content: '';
    position: absolute;
    left: 0;
    margin-top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
    padding-bottom: 10px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 10px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: linear-gradient(45DEG,#405DE6,#5851DB,#833AB4,#C13584,#E1306C,#FD1D1D);
  }
  .top .media-icons a:nth-child(3):hover{
    color: #f2125d;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #343434;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #343434;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  footer .bottom-details{
    width: 100%;
    background: #0F0844;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 70px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }